@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&family=Bebas+Neue&family=Lilita+One&family=Passion+One&family=Patua+One&family=Paytone+One&family=Tenor+Sans&family=Sriracha&family=DM+Serif+Display&family=Prata&display=swap');

body {
  margin: 0px;
}

.export-image {
  background: #fbfbf8;
  width: 1050px;
  font-family: Bebas Neue;
  clip-path: inset(0 100% 0 0);
  display: none;
}

#export-image .export-image-header {
  width: 1050px;
  padding-bottom: 25px;
}

#export-image .export-image-footer {
  width: 1050px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 25px 20px 25px;
}

#export-image .export-image-footer-title {
  margin-top: 20px;
  font-size: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
#export-image .export-image-footer-title img {
  position: absolute;
  top: -5px;
  height: 90px;
  
  /* width: "80px";
  margin-right: 10px; */
}

#export-image .export-image-footer-description img {
  width: 185px;
}

#export-image .export-image-footer-title-text {
  margin-left: 70px;
}

#export-image .export-image-footer-description {
  font-size: 40px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#export-image .awards {
  width: 1000px;
  margin: 0px;
  /* height: 1000px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 0px 25px 0px 25px;
}

#export-image .award {
  height: 100%;
  /* min-height: 335px; - use when make awards height 1005 instead of 1000*/
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}

#export-image .award:nth-child(1) {
  box-shadow: 15px 0px 15px 0px rgba(0, 0, 0, 0.5) inset, -15px 0px 15px 0px rgba(0, 0, 0, 0.5) inset, 0px -5px 20px 0px rgba(0, 0, 0, 0.5) inset, 0px 15px 15px 0px rgba(0, 0, 0, 0.5) inset;
}
#export-image .award:nth-child(2) {
  box-shadow: 10px 0px 10px 0px rgba(0, 0, 0, 0.5) inset, -10px 0px 10px 0px rgba(0, 0, 0, 0.5) inset, 0px -5px 20px 0px rgba(0, 0, 0, 0.5) inset;
}

#export-image .award:nth-child(3) {
  box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5) inset, -5px 0px 5px 0px rgba(0, 0, 0, 0.5) inset, 0px -5px 5px 0px rgba(0, 0, 0, 0.5) inset;
}

#export-image .category-title {
  font-size: 400%;
  height: 20%;
  padding: 0px 13px; /* NOTE: this padding is to make the title align with album cover */
  display: flex;
  align-items: flex-start;
}

#export-image .category-title span {
  height: 100%;
}

/* #export-image .category-icon {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  border-radius: 50%;
} */

#export-image .nominees {
  display: flex;
  height: 100%;
  align-items: center;
}

#export-image .nominees-wrap {
  display: flex;
  align-items: flex-start;
}

#export-image .nominee {
  width: 100%;
  display: flex;
  align-items: center;
}

#export-image .nominee-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#export-image .image-wrap {
  width: 100%;
  text-align: center;
  position: relative;
}

#export-image .nominee-img {
  width: 85%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4); 
}

#export-image .grammy {
  width: 35%;
  position: absolute;
  bottom: 0px;
  right: 8px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}

#export-image .nominee-name {
  width: 85%;
  font-size: 20px;
}

#export-image .nominee-details {
  opacity: 0.5;
}
