.shell {
  /* padding: 10px;
  background-color: pink;
  border: 1px green solid; */
}

.graphic {
  width: 1050px;
  height: 1271px;
  border: 3px black solid;
  /* box-sizing: border-box; */
  background-image: url("./images/empty.jpg");
  background-size: contain;
  /* background-repeat: no-repeat; */
  /* transform: scale(0.7); */
  /* display: none; */
  position: absolute;
  /* top: 0; */
}


.wrapper {
  /* border: 1px red solid; */
  height: 296px;
  width: 980px;
  /* background-color: pink; */
  /* background-image: url("./images/empty-copy.jpg"); */
  overflow: hidden;
  /* margin-left: 25px; */
  margin: auto;
  margin-top: 123px;
  position: relative;
  /* mask-image: linear-gradient(to right, transparent, black 1.5%, black 98.5%, transparent); */
  /* -webkit-mask-image: linear-gradient(to right, transparent, black 1.5%, black 98.5%, transparent); */
}

.carosel {
  display: flex;
  width: 200%;
}

.songs .carosel {
  animation: slideLeft 100s linear infinite;
}

.albums .carosel {
  animation: slideRight 100s linear infinite;
}

.songs .carosel-2 {
  animation: slideLeft 100s linear infinite, reveal 0s forwards;
  animation-delay: 50s;
}

.albums .carosel-2 {
  animation: slideRight 100s linear infinite, reveal 0s forwards;
  animation-delay: 50s;
}

.albums {
  margin-top: 98px;
}

.carosel img {
  /* width: 951px;
  height: 296px;
  margin-right: 14.5px;
  margin-left: 14.5px; */
}

.carosel-2 {
  visibility: hidden;
  position: absolute;
  top: 0px;
}

@keyframes reveal {
  to {
    visibility: visible;
  }
} 

@keyframes slideLeft {
  /* 0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  } */
  to {
    transform: translateX(-200%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



/* .carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    animation: slide 12s linear infinite;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}
 */
 
 

 .carosel-nominee {
   position: relative;
 }
 
 .carosel-nominee img {
   object-fit: fill;
   width: 196px;
   display: inline-block;
 }
 
 .plain {
 }
 
 .awarded {
   position: absolute;
   left: 0;
   opacity: 0;
   transition-duration: 1s;
 }
